.header {
  text-align: center;
  background: url("https://1.bp.blogspot.com/-zu3MC7D4zrk/WBSxJG2lhxI/AAAAAAAADQU/bUVi4Q-xz-M0DBa60IVTLLbgSK8ysEx8QCLcB/s1600/mb.jpg") no-repeat center center;
  background-size: cover;
  padding: 4rem; }
  .header .main-header {
    color: #666; }

.header-subnav {
  float: none;
  position: relative;
  top: 4rem;
  text-align: center;
  margin-bottom: 0; }
  .header-subnav li {
    float: none;
    display: inline-block; }
    .header-subnav li a {
      padding: 0.9rem 1rem 0.75rem;
      font-size: 0.875rem;
      color: #fff;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px; }
      .header-subnav li a.is-active {
        background: rgba(250, 250, 250, 0.7);
        color: #333; }
      .header-subnav li a:hover {
        background: rgba(250, 250, 250, 0.7);
        color: #333;
        transition: all .25s ease-in-out; }

/* Styles for expanding search element */

.search-field {

  width: 0;

}



.search-icon {

  margin-top: 15px;

}



span {

  padding-left: 5px;

  color: #fff;

}



.icon {

  font-size: 20px;

  color: #fff;

}



.center {

  padding-top: 20%;

}



.fi-magnifying-glass:before {

content: "\f16c";

position: absolute;

margin-left: 7px;

margin-top: 2 px;

font-size: 30px;

line-height: 50px;

color: #cccccc;

z-index: 2;

display: inline-block;

}



input[type="text"].dream-search {

  width: 150px;

  padding-left: 35px;

}



input[type="text"].dream-search:focus {

  width: 250px;

  transition: ease-in-out,width .35s ease-in-out;

}



.center-row {

  background-color: #0078A0;

  border-radius: 15px;

  height: 200px;

  margin-left: auto;

  margin-right: auto;

  margin-top: 10%;

  max-width: 400px;

}



.center-row ul{

  display: table;

  margin: 0 auto;
}

.full-width {

  max-width: 1400px;

}



.footer {

  background-color: #2980b9;

  padding: 2rem 4rem;

  text-align: center;

  color: #fff;

}

.footer i {

  font-size: 100px;

}



.footer h4 {

  color: #fff;

  font-size: 1em;

  font-weight: 400;

  text-transform: uppercase;

  margin-top: 2.5rem;

  margin-bottom: 10px;

}

.footer p, .footer a {

  font-weight: 300;

  font-size: .8em;

  color: #fff;

}



@media only screen and (min-width: 40.063em) {

  .footer .columns:nth-child(n+2) {

    border-left: 1px solid #b3b3b3;

    min-height: 280px;

  }

}

.footer-links {

  list-style-type: none;

}

.footer-links li {

  margin-top: .5em;

}

.article-card {
  min-height:600px;

  border: 1px solid #d7d7d7;

  margin-bottom: 1.5rem;

  box-shadow: 2px 4px 5px 0px #d7d7d7; }

  .article-card .card-content {

    background: #fff;

    margin: 1.25rem; }

    .article-card .card-content .post-author {

      text-align: center; }

    .article-card .card-content h4 {

      color: #CF000F; }

    .article-card .card-content p {

      color: #757D75; }

    .article-card .card-content a i {

      font-weight: 300;

      color: #757D75;

      margin: 0 .5rem;

      padding: 5px 7px 5px 7px;

      border: 1px solid #757D75;

      border-radius: 50%; }

    .article-card .card-content img.post-icon {

      position: absolute;

      width: 3rem;

      border-radius: 50%;

      margin-top: -3rem; }

.cols3 {
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  -webkit-column-rule: 1px solid #000;

  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -moz-column-rule: 1px solid #000;

  column-count: 3;
  column-gap: 20px;
  column-rule: 1px solid #000;
 }

 .cols3 h1 {
  -webkit-column-span:all;
  -moz-column-span:all;
  column-span:all;
 }
